/*
Project name: SuperSimplePage
Source: https://github.com/danielsodkiewicz/SuperSimplePage

Author: Daniel Sodkiewicz
Contact: daniel.sodkiewicz@gmail.com
Website: danielsodkiewicz.com

*/
* { margin: 0; padding: 0; border: 0; outline: 0; }

body {
	color: #ffff;
	font-family: 'Source Sans Pro', 'Helvetica', 'Roboto Condensed', Arial, sans-serif;
	width: 100%;
	background: #232c31;
	overflow-x: hidden;
}

/* .bg {
	background-image: url('/src/assets/images/Sawah-kotgor.jpeg');
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: 50%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
} */


.bg::after{
  content: '';
  background-color: rgba(0,0,0,0.55);
  width: 100%;
  height: 100%;
  position: absolute;
}

/* 
.carousel{
	scroll-snap-type:mandatory;
	scroll-padding: 0 24px;
}

.carousel .item{
	scroll-snap-align: start;
} */

.header {
	margin: 0 auto;
	padding: 110px 10px 0 10px;
	text-align: center;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.header h1 {
	color: #ffff;
	font-family: 'Roboto Condensed', sans-serif;
	/* text-wrap: balance;
	word-break: break-all; */
	cursor: default;
	font-size: 400%;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;

}

.desc {
	font-size: 110%;
	font-weight: 300;
	line-height: 22px;
	margin: 15px auto;
	max-width: 600px;
	font-family: 'Roboto Condensed', sans-serif;
}

.desc a {
	color: #ffffff;
}

.desc a:hover {
	text-decoration: none;
}

.buttons button {
	display: inline-block;
	border: 2px solid #ffffff;
	width: 125px;
	font-size: 14px;
	font-family: 'Montserrat', 'Helvetica', Arial, sans-serif;
	font-weight: 700;
	line-height: 21px;
	padding: 8px 0px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
	margin: 10px;
	-webkit-transition: all .3s ease-in;
}

.buttons {
	margin: 30px auto;
}


.buttons button.mylink {
	background: transparent;
	color: #ffffff;
}

.buttons button.mylink:hover {
	background: #ffffff;
	color: #86aa9c;
}

.buttons button.resume {
	color: #86aa9c;
	background: #ffffff;
}

.buttons button.resume:hover {
	color: #ffffff;
	background: transparent;
}

.corner-link {
	display: block;
	position: absolute;
	top: 3em;
	right: -6.5em;
	padding: 1em;
	width: 20em;
	text-align: center;
	background-color: #00465c;
	text-transform: uppercase;
	font-size: .7em;
	color: white;
	letter-spacing: 1px;
	text-decoration: none;
	white-space: nowrap;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.hr {
	height: 1px;
	width: 100px;
	margin: 15px auto;
	background: #ffffff;
	position: relative;
	z-index: 10;
}

.socials {
	text-align: center;
	margin:10px 0;
	z-index: 10;
}

.footer {
	font-weight: 300;
	text-align: center;
	margin:10px 0;
	z-index: 5;
	font-size:11px;
	position: absolute;
	bottom:0;
	width:100%;
}

.footer .link {
	display: inline-block;
	background: transparent;
	color: #ffffff;
	font: 1em 'Montserrat', 'Helvetica', Arial, sans-serif;

	vertical-align: text-top;
	text-decoration: none;
}

@media (max-device-width: 680px){

	BODY {
   background-image: url('/src/assets/images/Sawah-kotgor.jpeg');
	 background-position:top center;
	 background-repeat: no-repeat;
	 background-attachment:fixed;
	 background-size: auto 100%;

  }
 

  .bg {
		opacity: 0.4;

  }

  .footer {
		font-weight: 300;
		text-align: center;
		margin:10px 0;
		z-index: 10;
		font-size:11px;
		position: absolute;
		bottom:0;
		width:100%;
  }
}
